.ant-carousel .slick-slide {
    text-align: center;
    line-height: 160px;
    overflow: hidden;
    height: 20vw;
    background-color: white;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }