.loginBox {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vh;
    border-radius: 30px;
    min-height: 90%;
    max-height: 100%;
    background: rgba(222, 255, 254, 0.7);
}

.inputLogin{
    padding-right: 5%;
    padding-left: 5%;
}

::-webkit-input-placeholder {
    color: white
}

.greeting {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100%;
    opacity: 1;
    background-image: url("./LOGOsquare.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
    display: block;
    padding-top: 60%; 
}

.pageLogin {
    background-image: url("https://i.pinimg.com/originals/3b/8a/d2/3b8ad2c7b1be2caf24321c852103598a.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(100vh - 64px);
    padding-top: 8vh;
}
.errorLogin {
    margin-top: 0 auto;
    margin-bottom: 3vh;
}

.loginButton {
    background-color: #e09ff5!important;
    /* background-color: rgba(101, 204, 241, 0.9)!important; */
}

.loginButton:hover {
    background-color: rgb(217, 245, 255)!important;
}

.inputForm {
    width: 18.5vw;
}

.dontHaveAccount {
    text-align: center;
    padding-bottom: 2vh;
}