.logo {
    width: 140px;
    height: 46px;
    background-image: url('./LOGO2.png');
    margin: 4px calc(100vw/6 - 142px) 0px 0;
    float: left;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

