.info{
    display: block;
    margin-left: 350px;
    width: 500px;
}

.fullName{
    font-size: 40px;
    color: aliceblue
}

.address{
    display: inline-block;
    width: 50vh;
}

.changeAddress{
    display: inline-block;
}

.phone{
 
    display: inline-block;
    width: 50vh;
}

.changePhone{
  
    display: inline-block;
}

.dob{
    display: inline-block;
    width: 50vh;
}

.changeDob{
    display: inline-block;
}

.avatar{
    height: 300px;
    width: 300px;
    float: left;
    /* border: solid; */
    background-repeat: no-repeat;
}

.address-box{
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 16px;
    color: white;

}

.phone-box{
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 16px;
    color: white;

}

.dob-box{
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 16px;
    color: white;

}

.email{
    width: 50vh;
    display: inline-block;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-size: 16px;
    color: white;
}

.profile{   
    padding: 2vh;  
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;  
}
/* 
.pageProfile{
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 65px);
    padding: 10vh
} */

.updateButon {
    margin-top: 2vh;
}