.info{
    display: block;
    margin-left: 330px;
    width: auto;
}

.fullName{
    font-size: 40px;
}

.address{
    display: inline-block;
    width: 50vh;
}

.changeAddress{
    
    display: inline-block;
}

.phone{
 
    display: inline-block;
    width: 50vh;
}

.changePhone{
  
    display: inline-block;
}

.dob{
    display: inline-block;
    width: 50vh;
}

.changeDob{
    display: inline-block;
}

.avatar{
    height: 300px;
    width: 300px;
    float: left;
    border: solid;
}

.address-box{
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 16px;
}

.phone-box{
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 16px;
}

.dob-box{
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 16px;
}

.email{
    
    width: 50vh;
    display: inline-block;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-size: 16px;
}

.profile{   
    padding: 2vh;
}

.pageProfile{
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 65px);
    padding: 10vh
}

.updateButon {
    margin-top: 2vh;
}