
.pageRegister {
    background-image: url("https://i.pinimg.com/originals/3b/8a/d2/3b8ad2c7b1be2caf24321c852103598a.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: calc(100vh - 64px);
    padding-top: 11vh;
    padding-bottom: 5vh;
    background-position: center;
}

.errorRegister {
    margin-top: 0 auto;
    margin-bottom: 3vh;
}

.registerBox {
    border-radius: 30px;
    background: rgba(222, 255, 254, 0.7);
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

.register {
    margin: 0;
    color: #f7f7f7;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.registerButton {
    background-color: rgb(101, 204, 241)!important;
}

.registerButton:hover {
    background-color: rgb(217, 245, 255)!important;
}

.haveAccount {
    text-align: center;
    padding-bottom: 2vh;
}

.registerForm{
    margin:0;
}