
.pageRegister {
    background-image: url("https://img.freepik.com/free-vector/abstract-colorful-flow-shapes-background_23-2148258092.jpg?size=626&ext=jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 65px);
    padding-top: 5%;
    padding-bottom: 5%;
}

.errorRegister {
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 5%;
    margin-bottom: 3%;
}

.registerBox {
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 60%;
    border: solid #65ccf1;
    border-radius: 30px;
    background: rgba(222, 255, 254, 0.7);
    padding-top: 1%;
}

.register {
    font-size: 30px;
    text-align: center;
    margin-bottom: 1%;
}
